---
layout: base.njk
---
<article class="main-article interior  ">
  <div class="container-full pt-64">
    <div class="row">
      <div class="col-xs-12">
        <div class="container-2">
          <div class="innermarkdown"> Cursos asgdfafdsfadf
            {{ content | safe }}</div>
        </div>
      </div>
    </div>
  </div>
</article>