<footer>
      <section>
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="height-sm align-middle"> 
                            <div class="is-flex content-sp-between w-100">
                              <div class="logo">   
                                Programado  por la familia de<strong> UX UI IT</strong> . Te queremos Xavi <span role="img" aria-label="love" title="love">❤️</span>
    </div>
                              <div class="menu">

                                      <ul class="list-inline">
                                        <li><a href="">Digital Strategy</a></li>
             
                                      </ul>
                                      

                              </div>
                            </div>
                      </div>
            
                  </div>
              </div>
          </div>
      </section>
</footer>
