<header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="height-sm align-middle"> 
                      <div class="is-flex content-sp-between w-100">
          <a href="/">

             
                          <div class="logo tit-m">   
                                                 Design systems.es
                          <div class="p-s">
                          Sistemas de diseño en español
                          
                          </div>
                          </div>
                        </a>
                        <div class="menu align-middle">

                                <ul class="list-inline">
                                  <li><a href="/">La lista </a></li>
                                  <li><a href="/blog.njk">Qué son </a></li>
                                  <li><a href="/about.njk">Sobre Nosotros </a></li>
                        
                                </ul>
                                

                        </div>
                      </div>
                </div>
 
            </div>
        </div>
    </div>
</section>
</header>
