{% extends "../html/templates/baseinner.njk" %}
{% import "../html/macros/insert.njk" as insert %}
{% set items = systems %}


{% block documentTitle %}seccion 1{% endblock %}


{% block content %}





{% call insert.title( items[4].id ,items[4].name ,items[4].photo ,items[4].descriptiontitle ,items[4].description,items[4].link ) %} {%   endcall %},




{% include "../html/partials/_banner.njk" %}
{% endblock %}
