{% extends "html/templates/base.njk" %}

{% block documentTitle %}Home{% endblock %}

	{% import 'html/templates/_globals.njk' as globals %}



{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 height-sm align-center bg-light "> 

    <div class="tit-l">ABOUT  </div> 

      </div>
    </div>
  </div>



    {% include "html/partials/_banner.njk" %}
{% endblock %}
