@import 'abstract/_setup.scss';

$btn-radius: 50px;

@import '../../node_modules/holygrailcss/scss/style.scss';

.img-mini {
  width: 100%;
  max-width: 400px;
}

html {
  background: rgb(237, 232, 230);
  color: #292929;
}
.container-12 {
  padding-right: 8px;
  padding-left: 8px;
  @media (min-width: 768px) {
    margin-right: 8vw;
    margin-left: 24vw;
  }
}

.logo {
  width: 150px;
  svg {
    width: 100%;
  }
}

.container--full {
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: $break-sm) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (min-width: $break-lg) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.numbers {
  z-index: 10;
  position: relative;
  opacity: 0.1;
  color: #bda79e;
}

.has-light {
  color: rgb(237, 232, 230);
}

.has-light .btn.btn-primary {
  color: #292929;
  background-color: rgb(237, 232, 230);
  border: 1px solid rgb(237, 232, 230);
}
